.list {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar {
  width: clamp(13rem, 14vw, 15rem);
  height: 100vh;
  padding: 0rem 0.5rem;
  box-shadow: 0.5rem 0px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100%;
  height: 18%;
  display: grid;
  place-content: center;
  background-image: url("../../assets/No Bg Logo.png");
  background-position: center;
}

.listItem {
  max-height: 3.5rem;
  border-radius: 0.5rem;
}

.listItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.listItemIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}

.listItemText {
  font-weight: 500;
  font-size: 1.25rem;
}
