.container {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.paper {
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.formControl {
  width: 50%;
  margin-bottom: 1rem;
}

.addedItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.item {
  flex: 25;
  margin: 0.5rem;
  display: grid;
  place-content: center;
}
.newItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconButton {
  padding: 0;
  height: 2rem;
  width: 2rem;
}
.buttonIcon {
  height: 100%;
  width: 100%;
  color: white;
  background-color: green;
  border-radius: 100%;
}
.buttonIconRemove {
  height: 2rem;
  width: 2rem;
  color: white;
  background-color: red;
  border-radius: 100%;
  transform: rotate(45deg);
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button {
  margin: 0.5rem;
}
